%span.abouttext
  %center
    %h1 About WAY BACK TO GOVERNMENT
    %h3 #peopledontforget
  .text-padding.p-text-sizebump
    %section.about
      %h2 The Way Back to Government for the 100%.
      %p!= "Way Back to Government is <strong>a tool to raise awareness and record</strong> the cataclysmic changes occurring throughout the U.S.A’s federal government since January 20, 2025 – the day that Donald J. Trump took the oath of office as the 47th President of the United States."
      %p This site collects the personal stories from individuals directly affected by the Trump Administration’s swift actions, which have altered the course of all federal agencies and dozens of domestic and foreign policy fronts. If you have experienced abrupt change in your benefits, employment, or another aspect of your livelihood since President Trump took office, please submit the details #{link_to 'here', '/experiences/new'}.
      %p By collecting these individual experiences, Way Back to Government aims to memorialize history as it is happening. Like the internet’s Wayback Machine, it will preserve the facts of the people and institutions on which America’s democracy has relied. In this way, the United States cannot ignore or deny the destabilization or extermination of the existing system of government that was designed to work for 100% of Americans.
      %p These collected histories serve as a reference to those government services that – as we are likely to learn the hard way – a stable democracy cannot do without. They will become the beacon guiding us to recollect the institutions of a democratic government that we will need to restore in order to protect open society and prosperous economy for all of us.

    %section
      %h2 Who We Are (Not).
      %p We are concerned citizens of the United States.
      %p We are those watching and wondering at the denial of the U.S.’s constitutional order; the dismantling of federal agencies and programs that are pillars of a just society; and the dismissal of those federal employees who have been keeping those pillars upright.
      %p We are ordinary persons in extraordinary times.
      %p We are persons who recognize that others may be anonymous to the news cycle, or even their own representatives in government, but those others have experiences that are too valuable to be lost to history.
      %p We are NOT politicians, political appointees, or a political party of any color.
      %p We are NOT selling goods, services, or an agenda.
      %p We are NOT gathering and harvesting data for some undisclosed purpose or personal gain.

    %section
      %h2 Why Way Back to Government and Why Now?
      %p It is too easy in the modern world of fast and unchecked information flows to deny the validity of historical facts. Way Back to Government seeks to capture, in one comprehensive database, the histories of those persons whose lives as they knew it are now a casualty of the sweeping changes from the first weeks of the Trump Administration. By doing so, it creates a record that can be used to raise awareness in the moment, advocate for change in the future, and preserve the lessons of history for posterity.
      %p The radical nature of the immediate actions taken by the incoming Trump Administration across government agencies, and on the economy and foreign policy is undeniable. These actions have, by the Administration’s own admissions, walked the country away from constitutional precedent and disregarded institutional norms in all three branches of governments. Many have questioned within the first month of the new presidential term, “Will we be able to find our way back?”
      %p “Now” is and will remain the time to gather the facts of what is being imposed upon the public that the news agencies and their information cycles will miss, when recollections are fresh and complete to ensure that the details are the most accurate. This record will be ongoing as the actions of this Administration are ongoing. It will act as a near-real time “live stream” of the events that we, as Americans, cannot afford to disregard now or deny later.

    %section
      %h2 Join the Virtual Gathering Site for the Journey Back that Lies Ahead
      %p This website has only one purpose: to bring together the experiences of people across a geographically wide and socially diverse nation who are united in being touched directly by the actions of the Trump Administration. On this site, persons with a story to tell may submit it #{link_to 'here', '/experiences/new'} on an anonymous or confidential basis. This website will post the story anonymously and add it as a count to the #{link_to "map page", experiences_path('view'=>"map","lat"=> 39.8097343,"long"=> -98.5556199, "zoom"=> 3)}, where the visiting public can see the geographic concentration by zip code of persons affected.
      %p Those who are willing may identify themselves confidentially in order to allow media, government representatives, or legal teams to contact them for more details about their experiences. The personal information and data submitted to this website will not be used for any other purpose, and not without the individual’s permission. Please click #{link_to 'here', page_path('privacy')} for more information about Way Back to Government’s privacy policy and protection of personal information.
      %p You help the cause by submitting your personal story. This website is only as valuable as the strength of the voices on it. The more history it can gather in the now, the more useful it will be in the future. Media may find the individual stories that pierce the noise and raise awareness. Members of congress may gather the facts and data needed to support their standing firm on policy or resetting policies in future legislation. Legal teams may find the facts needed to remediate wrongs done against democratic institutions that we, as a nation, want to preserve.
      %p You who have submitted your story or who are simply visiting to learn more may also help by spreading the word. Post, repost, email, blog, or just discuss. Associate it with the hashtag: #peopledontforget.
    %section
      %p The more people who know about this site and its mission, the more effective it will become.

    .centered-text
      %p Join the movement: #peopledontforget
    %section.centered-text
      %p 
        %a{ href: "https://www.linkedin.com/sharing/share-offsite/?url=#{CGI.escape('https://waybacktogovt.org?linkedin')}", target: "_blank", rel: "noopener noreferrer" }
          %i.fa.fa-linkedin
          Share on LinkedIn
      %p{style: 'color: rgba(0, 0, 0, 0);'}= '|  |  |'
      %p 
        %a{ href: "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape('https://waybacktogovt.org/?facebook')}", target: "_blank", rel: "noopener noreferrer" }
          %i.fa.fa-facebook
          Share on Facebook

//    %section
//      %p= "[TODO: social action buttons that populate pre-written text]"

:css
  p {
    text-align: justify;
  }
  .centered-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }