.splash-content
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2
      .splash-text-container.centered-text
        %h3.headroom
          = "Way Back to Government"
        %h1.centered-text
          = "Recording history in real-time so we can find our way back." 

  .row.more-headroom
    .col-xs-12.col-sm-8.col-sm-offset-2
      = render partial: "layouts/search", locals: {splash: true}

  .row.more-headroom
    .col-xs-12.col-sm-6.col-sm-offset-3
      .splash-text-container.centered-text
        %span If you have been displaced or economically affected...
        = button_to new_experience_path, method: :get, class: "btn btn-lg btn-purple splash-add-experience-btn" do
          = t('.add-experience-button-label')
          %i.fa.fa-plus-square-o.fa-2x
  .row.even-more-headroom
    .col-xs-6.col-sm-3.col-sm-offset-3
      .splash-text-container.centered-text
        = link_to image_tag("map.png", role: "img", alt: "Map"), "http://map"
    .col-xs-6.col-sm-3
      .splash-text-container.centered-text
        = link_to "http://submittal.com" do
          = image_tag("submittal.png", alt: "Submit")
          = "Submitted anonymously on March 1, 2025"
  .row.more-headroom
    .col-xs-12.col-sm-6.col-sm-offset-3
      = button_to experiences_path, method: :get, class: "btn btn-lg btn-purple splash-add-experience-btn" do
        = "Click here for all submissions."

  .splash-text-container.centered-text
    = render 'layouts/footer'
