- if @contact.experience_name.present?
  %h1= t('.request-edit-for-experience', experience_name: @contact.experience_name)
- else
  %h1= t('.contact-title')
%p
  Questions or comments about this site or its mission?
= simple_form_for @contact, html: {class: 'form-vertical headroom'} do |f|
  %p
  = f.input :name, :required => true
  = f.input :email, :required => true
  = f.input :message, :as => :text, :required => false, :input_html => {:rows => 10}
  .hidden
    = f.hidden_field :experience_id, :required => false
    = f.hidden_field :experience_name, :required => false
    = f.hidden_field :nickname, :hint => t('.leave-this-field-blank')
  .form-group
    .g-recaptcha{'data-sitekey' => "#{ENV['RECAPTCHA_SITE_KEY']}"}
  .form-actions
    = f.button :submit, :class=> "linkbutton"

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('[title="required"]').forEach(element => element.remove());
  });

