- unisex_class = experience.unisex? ? '' : 'not_unisex'
- accessible_class = experience.accessible? ? '' : 'not_accessible'
- changing_table_class = experience.changing_table? ? '' : 'no_changing_table'

%li{ class: "listItem clearfix #{unisex_class} #{accessible_class} #{changing_table_class}",
          data: { id: experience.id} }
  .listItemImage
    / image tag goes here
  .itemInfo
    .itemName= link_to_unless_current(experience.name.titleize, experience)
    .itemStreet="#{experience.street}, #{experience.city}, #{experience.state}"
    - if experience.rated?
      - rating_class_name = case RatingLevel.for_experience(experience)
      - when RatingLevel.green  then 'greenRating'
      - when RatingLevel.yellow then 'yellowRating'
      - when RatingLevel.red    then 'redRating'
      - else ''
      %div{:class => "itemRating #{rating_class_name}"}
        = t('experience.rating.positive', percentage: experience.rating_percentage.round)
    - else
      .itemRating= t('experience.rating.unrated')

  .itemExtraInfo
    .itemDistance
      - if experience.respond_to?(:distance)
        = experience.distance.round(2)
        = t("experience.distance.miles")
        \/
        = miles_to_kilometers(experience.distance).round(2)
        = t("experience.distance.kilometers")
    .itemIcons
      - if experience.unisex?
        .unisexExperience{:title => t("experience.type.unisex")}
          %i.fa.fa-transgender-alt.fa-2x
      - if experience.accessible?
        .ADAExperience{:title => t("experience.accessible")}
          %i.fa.fa-wheelchair.fa-2x
      - if experience.changing_table?
        .changingTable{:title => t("experience.changing_table")}
          %i.fa.fa-child.fa-2x
